<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0' >
    <link rel="stylesheet" href="/static/css/style_header.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<header class="header">
    <a href="" class="logo"><div class="nilogo"><img src="../images/LogoBY.svg" ></div></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="/users/register"><div class="nifav">Sign Up</div></a></li>
      <li><a href="/users/login"><div class="nicon">Contribute</div></a></li>
      <li><a href="#contact"><div class="ni">About</div></a></li>
      <li><a href="#IITG"><div class="ni">IITG</div></a></li>
    </ul>
  </header>
<%- include("messages") %>

</body>
</html>