<%- include("../partials/header") %>

    <h1>Welcome to CourseHub</h1>

    <h2>New Resource</h2>

    <form action="/resource" method="post">
        <label for="resourceName">Name: <br></label>
        <input type="text" name="resourceName" id="resourceName" value="">
        <br>

        <label for="resourceSubjectCode">Code: <br></label>
        <input type="text" name='resourceSubjectCode' id="resourceSubjectCode" value="">
        <br>

        <input type="submit" value="SUBMIT">
    </form>

<%- include("../partials/footer") %>
