<%- include("partials/header") %>
    <h1>Welcome to Coursehub</h1>
    <ul>
        <% Subjects.forEach((subject) => { %>
            <li> <a href="/subject/<%= subject._id %>"><%= subject.name %></a> </li>
        <% }) %>
    </ul>
<%- include("partials/footer") %>
