<%- include("partials/header") %>
    <h1>Welcome to Coursehub</h1>
    <h1>First year section</h1>
    <div class="subject-section">
        <h3><a href="/MA101">MA101</a></h3>
    </div>
    <div class="subject-section">
        <h3><a href="/CE101">CE101</a></h3>
    </div>
    <div class="subject-section">
        <h3><a href="/PH101">PH101</a></h3>
    </div>
    <div class="subject-section">
        <h3><a href="/CH101">CH101</a></h3>
    </div>
    <div class="subject-section">
        <h3><a href="/EE101">EE101</a></h3>
    </div>
    <div class="subject-section">
        <h3><a href="/PH110">PH110</a></h3>
    </div>
    <div class="subject-section">
        <h3><a href="/ME110">ME110</a></h3>
    </div>
<%- include("partials/footer") %>
