<%- include("partials/header") %>
    <h1>Welcome to Coursehub</h1>
    <ul>
        <li> <a href="/firstYear">Freshman Year</a> </li>
        <li> <a href="/secondYear"> Sophomore Year</a></li>
        <li> <a href="/thirdYear"> Pre-Final Year</a></li>
        <li> <a href="/fourthYear"> Final Year</a></li>
    </ul>
<%- include("partials/footer") %>
