<%- include("partials/header") %>
    <h1>Welcome to Coursehub</h1>
    <ul>
        <li> <a href="/year/firstYear">Freshman Year</a> </li>
        <li> <a href="/year/secondYear"> Sophomore Year</a></li>
        <li> <a href="/year/thirdYear"> Pre-Final Year</a></li>
        <li> <a href="/year/fourthYear"> Final Year</a></li>
    </ul>
<%- include("partials/footer") %>
