<%- include("partials/header") %>
    <h1>Welcome to Coursehub</h1>
    <div class="year-section">
        <h3><a href="/first">1st Year</a></h3>
    </div>
    <div class="year-section">
        <h3><a href="/second">2nd Year</a></h3>
    </div>

<%- include("partials/footer") %>
