<%- include("partials/header") %>
    <form class="" action="/" method="post">
        <input type="text" name="name" value="name" placeholder="Semester number in String">
        <input type="number" name="semNum" value="semNum">
        <button type="submit" name="button">SUbmit</button>
    </form>
<%- include("partials/footer") %>
