<%- include("../partials/header") %>

    <form action="/users/login" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Enter Email">

        <br>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter Password">

        <br>

        <button type="submit">Login</button>
    </form>

    <a href="/users/register">New user</a>
<%- include("../partials/footer") %>